/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
  }
  